local.properties
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
.idea/libraries/animated_vector_drawable_23_2_1.xml
.idea/libraries/appcompat_v7_23_2_1.xml
.idea/libraries/org_apache_http_legacy_android_23.xml
.idea/libraries/play_services_base_6_5_87.xml
.idea/libraries/support_annotations_23_2_1.xml
.idea/libraries/support_v4_23_2_1.xml
.idea/libraries/support_vector_drawable_23_2_1.xml
build/intermediates/dex-cache/cache.xml
build/intermediates/lint-cache/api-versions-6-23.1.bin
build/intermediates/lint-cache/typos-de.txt-2.bin
build/intermediates/lint-cache/typos-en.txt-2.bin
build/intermediates/lint-cache/typos-es.txt-2.bin
build/intermediates/lint-cache/typos-hu.txt-2.bin
build/intermediates/lint-cache/typos-it.txt-2.bin
build/intermediates/lint-cache/typos-nb.txt-2.bin
build/intermediates/lint-cache/typos-pt.txt-2.bin
build/intermediates/lint-cache/typos-tr.txt-2.bin
